body {

    text-align: center;
    color: rgb(88, 88, 88);
    background-color: lightblue;
}

.recipe-image {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

p {
    padding: 0% 15%;
}

ul, ol {
    padding: 0% 15%;
}